header h1{
    background-color: rgb(23, 129, 187);
    text-align: center;
    font-size: 40px;
    border-bottom: 25px solid rgb(228, 239, 241);
    font-family:Arial, Helvetica, sans-serif
}
 nav ul{
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: rgb(227, 235, 230);
    font-size: 30px;
}
section h2{
    display: flex;
    justify-content: center;
}
