 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #d9ecf2, #a7cde1);
    color: #222;
    line-height: 1.6;
}

header h1 {
    background-color: rgb(23, 129, 187);
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 35px;
    border-bottom: 10px solid rgb(228, 239, 241);
}


nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
    background-color: rgb(227, 235, 230);
    padding: 15px;
    flex-wrap: wrap;
}

nav ul a {
    text-decoration: none;
    color: rgb(23, 70, 100);
    font-size: 22px;
    font-weight: bold;
}

nav ul a:hover {
    color: rgb(10, 131, 179);
}


main {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    margin-top: 30px;
}

section {
    background: white;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

section h2 {
    text-align: center;
    font-size: 28px;
    color: rgb(23, 129, 187);
    margin-bottom: 15px;
}


section ul {
    padding-left: 20px;
    font-size: 18px;
}

section li {
    margin-bottom: 8px;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 15px auto;
    border-radius: 10px;
}


footer {
    background-color: rgb(23, 129, 187);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    font-size: 18px;
}
